<%- include('../partials/header') %>

<section class="hero contact-hero">
  <div class="hero-layer"></div>
  <div class="hero-content">
    <img class="profile" src="images\gabriel-circle-cropped.png" alt="Arpad G. Bondor profile picture" />
    <h1 class="section-title">Uh oh!</h1>
    <p>The mailer daemon is too drunk. Please try again or contact the developer!</p>
  </div>
</section>

<%- include('../partials/footer') %>
