<h2 class="section-title">Get in touch with me</h2>
<form action="/contact" method="POST">
  <input type="text" name="name" class="inputblock inputblock-top" placeholder="Your Name" required />
  <input type="email" name="email" class="inputblock inputblock-middle" placeholder="Your E-mail" required />
  <textarea name="message" class="inputblock inputblock-bottom" placeholder="Message" cols="40" rows="6"></textarea>
  <button class="btn submit" type="submit">Send Message</button>
</form>
